<html>
    <head>
    <title>Sistema - Tesis</title>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}layout-browser.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}resources/css/ext-all.css" />
    <script type="text/javascript" charset="utf-8" src="http://cdn.sencha.io/ext-4.1.0-gpl/ext-all.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{STATIC_URL}}js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}layouts/basic.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}layouts/custom.js"></script>    
    <script type="text/javascript" src="{{STATIC_URL}}forms.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}grids.js"></script>    
    <script type="text/javascript" src="{{STATIC_URL}}widgets.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}layout-browser.js"></script>
    </head>

    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>
